<a href="https://colab.research.google.com/github/sabbir2600/OOP2-Lab-/blob/main/OOPLAB2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#"First Programme in Python"

In [2]:
print("Sabbir")

Sabbir

Variables and Assignment statements

In [1]:
m=4
n=6
print(m+n)

10

In [3]:
name="Sabbir"
name2="Ahamed"
print(name,name2)

Sabbir Ahamed

Type

In [4]:

m=20
type(m)

int

In [5]:
type(3.1416)

float

In [6]:
type(name)

str

Arithmetic operators

In [7]:
sum=10+10
print(sum)

20

In [8]:
sub=10-20
print(sub)

-10

In [9]:
multi=5*5
print(multi)

25

In [10]:
exponentiation=20**2
print(exponentiation)

400

True division vs Floor divition

In [11]:
True_division=6/5
print(True_division)

1.2

In [12]:
Floor_division=6//5
print(Floor_division)

1

In [14]:
remainder=14%7
print(remainder)

0

IF STATEMENT

In [15]:
mark=80
if mark>=60:
  print("passed")

passed

IF ELSE STATEMENT

In [17]:
mark=int(input("Enter the mark: "))
if mark>=60:
  print("passed")
else:
   print("Fail")

Enter the mark: 30
Fail

CONDITIONAL EXPRESION¶

In [18]:
result=('passed' if mark>=60 else 'Failed')
print(result)

Failed

IF...ELIF..ELSE STATEMENT

In [19]:
mark=int(input("Enter the marks: "))
if mark>=80:
   print('A+')
elif mark>=75:
  print('A')
elif mark>=70:
  print('A-')
elif mark>=65:
   print('B+')
elif mark>=60:
  print('B')
elif mark>=55:
  print('C+')
elif mark>=50:
  print('C')
elif mark>=45:
  print('D+')
elif mark>=40:
  print('D')
else:
  print('F')

Enter the marks: 40
D

WHILE STATEMENT

In [20]:

num=int(input("Enter the number: "))
while (num<=10):
  print(num, end=" ")
  num+=1

Enter the number: 1
1 2 3 4 5 6 7 8 9 10

while statement to find the first power of 3 larger than 50:

In [22]:
product =int(input("Enter the number: "))

while product<=50:
  product = product*3
print(product)

Enter the number: 3
81

For statement

In [25]:
for character in "Sabbir":
  print(character, end=" ")

S a b b i r

In [28]:
for i in range(1,11):
  print(number,"X",i,"=",number*i)

NameError: ignored

Built in Range Function

In [30]:

for counter in range(10):
  print(counter, end=" ")

0 1 2 3 4 5 6 7 8 9

Nested For Loop

In [31]:
n=int(input("Enter the number: "))
for left in range(n):
    for right in range(left,n):
        print("["+str(left)+"|"+str(right)+"]", end =" ")
    print()

Enter the number: 7
[0|0] [0|1] [0|2] [0|3] [0|4] [0|5] [0|6]
[1|1] [1|2] [1|3] [1|4] [1|5] [1|6]
[2|2] [2|3] [2|4] [2|5] [2|6]
[3|3] [3|4] [3|5] [3|6]
[4|4] [4|5] [4|6]
[5|5] [5|6]
[6|6]

Break statement

In [32]:
n=int(input("Enter the number: "))
for number in range(n):
  if  number==5:
    break
  print(number, end=" ")

Enter the number: 10
0 1 2 3 4

Continue statement

In [33]:
n=int(input("Enter the range: "))
for number in range(n):
  if  number==5:
    continue
  print(number, end=" ")

Enter the range: 10
0 1 2 3 4 6 7 8 9

uri problem solve Extremely basic

In [36]:
m1 = int(input())
m2 = int(input())
x = m1 + m2
print("X = %i"% x)

10
9
X = 19

uri problem Area of circle

In [37]:
raio=float(input())

area=(raio*raio)*3.1416
print("A=%0.4f"%area)

2
A=12.5664

uri problem solveDifference

In [39]:
m1= int(input())
m2= int(input())
m3= int(input())
m4= int(input())

difference=((m1 * m2) - (m3 * m4))

print("DIFERENCA = %d" %difference)

5
6
7
8
DIFERENCA = -26

Age in Days uri problem solve

In [40]:
n= int(input())
a = n / 365
rA = n % 365
rM = rA % 30
m = rA / 30
d = rM % 30
print("{} ano(s)".format(int(a)))
print("{} mes(es)".format(int(m)))
print("{} dia(s)".format(int(d)))

400
1 ano(s)
1 mes(es)
5 dia(s)